<div>
  <h2>Movie Details</h2>
  <ul>
    <li>Title: {{details.title}}</li>
    <li>Genre: {{details.genre}}</li>
    <li>Plot: {{details.plot}}</li>
  </ul>

  <h4>Cast</h4>
  {{#each details.cast}}
    <ul>
      <li>
        Name: {{this.name}}
        <br> 
        Occupation: {{this.occupation}}
        <br>
        Phrase: {{this.catchPhrase}}
        <br>
      </li>
    </ul>

  {{/each}}

  <a href="/movies/{{details._id}}/edit">
      <button>Go to Update</button>
  </a>

  <form action="/movies/{{details._id}}/delete" method="post">
    <button>Delete</button>
  </form>

</div>